<body>
	<div class="container">

	<div class="row">
		<div class="text-center"><h1>Campaign!</h1></div>

		<div class="col-md-4 col-md-offset-4 text-center">Spicy jalapeno bacon ipsum dolor amet strip steak pork chop meatball, short loin sausage kevin flank leberkas turkey burgdoggen. 
				<br>
				<br>
		Pancetta pork belly tongue corned beef ball tip hamburger turducken.
<br>
		 Pig doner ball tip flank shank shoulder cupim spare ribs sausage tongue hamburger. Cow hamburger beef ribs ribeye tail landjaeger. <br><br>Sausage shank capicola burgdoggen corned beef, pastrami ground round pancetta jowl ball tip drumstick pork belly.
		 </div>


	</div>
		<div class="row">
			<div class="text-center btnPadding ">
				<button class="btn btn-default">Test</button>
			    <button class="btn btn-default">Test</button>
			</div>
			
		</div>
		<div class="row">
			<div class="text-center btnPadding ">
				<button class="btn btn-default">Test</button>
			    <button class="btn btn-default">Test</button>
			</div>
			
		</div>
		

	</div>



</body>