<body>
	<div class="container">

	<div class="row">
		<div class="text-center"><h1>Campaign!</h1></div>

		<div class="col-md-7 col-md-offset-3 text-center textContainer"><b>Welcome!</b> On this page you'll be able to plan your campaigns, look at your currently ongoing campaigns, look at the scenes you've written and lastly if you dont want to go through the hassle of making your own campaign, you can always try our preset campaigns! 
		<br>
		<br>
			If you click <b>Plan Campaign</b> you'll be able to start customizing your own campaign.
		<br>
		<br>
			In <b>Current Campaign</b>  you'll be able to view your currently ongoing campaigns.
		<br>
		<br>
			<b>Your Scenes</b> is where you can write and store your scenes for the campaigns.
		<br>
		<br>
			<b>Preset Campaigns</b> cotains a set of different already made and ready to play!
		 </div>


	</div>
		<div class="row">
			<div class="text-center btnPadding ">
				<a href="/#/planCampaign"><button class="btn btn-default btnAdd">Plan Campaign</button></a>
			</div>
		</div>
		
		<div class="row">
			<div class="text-center btnPadding ">
				<a href="/#/currentCampaigns"><button class="btn btn-default btnAdd">Current Campaigns</button></a>
			</div>	
		</div>

		<div class="row">
			<div class="text-center btnPadding ">
				<a href="/#/yourScenes"><button class="btn btn-default btnAdd">Your Scenes</button></a>
			</div>	
		</div>	

		<div class="row">
			<div class="text-center btnPadding ">
				<a href="/#/presetCampaigns"><button class="btn btn-default btnAdd">Preset Campaigns</button></a>
			</div>	
		</div>		
		

	</div>



</body>