<body>
	<div class="container">
		<div class="row pushRow mediaPush">
			<div class="text-center"><h1>Current Campaigns</h1></div>

				<div class="col-md-7 col-md-offset-3 text-center textContainer">
				<p>Here you'll be able to keep track of your ongoing campaigns, their names, when they were created and much more!</p>
				<br>
				</div>

		</div>


		<div class="row">

		    <div class=" col-md-3"></div>
		    <div ng-controller="campaignCtrl" class="col-md-6 text-center">
				<div ng-click="campaignTester" class="btn btn-default text-center buttonList">____The Death of Torog____</div>
                    <div class="btn btn-default text-center buttonList">____Paladin of the Wicked Underdark____</div>
                    <div class="btn btn-default text-center buttonList">____The Curse of Gruumsh____</div>
                    <div class="btn btn-default text-center buttonList">____Widow of the Broken Realm____</div>
                    <div class="btn btn-default text-center buttonList">____The Ingredient from BeyondN____</div>
                    <div class="btn btn-default text-center buttonList">____The Riddles of Lake Nen____</div>
	        </div>
	        <div class=" col-md-3"></div>
		</div>
	 
	</div>
</body>