<div class="container">
	<div class="row">
		<div class="text-center"><h1>Lorem Ipsum!</h1></div>




	</div>
	<div class="row">
	  <div class="col-md-4 col-md-offset-2 text-center">
			<div class="btn btn-default text-center">_________Lorem Ipsum_________</div>
			<div class="btn btn-default text-center btnPadding">_________Lorem Ipsum_________</div>

       </div>

       <div class="col-md-4 text-center">
			<div class="btn btn-default text-center">_________Lorem Ipsum_________</div>
			<div class="btn btn-default text-center btnPadding">_________Lorem Ipsum_________</div>

       </div>
	</div>
 
</div>