<body>
	<div class="container">
		<div class="row pushRow mediaPush">
			<div class="text-center"><h1>Past Campaigns</h1></div>
		
			<div class="col-md-7 col-md-offset-3 text-center textContainer">
		        <p>Here you can look at your completed campaigns, to either help you find inspiration or just reminiscence</p>
		        <br>
	        </div>
		</div>
		<div class="row">

		    <div class=" col-md-3"></div>
		    <div ng-controller="campaignCtrl" class="col-md-6 text-center">
				<div ng-click="campaignTester" class="btn btn-default text-center buttonList">____SCENE NAME____</div>
                    <div class="btn btn-default text-center buttonList">____CAMPAIGN____</div>
                    <div class="btn btn-default text-center buttonList">____CAMPAIGN____</div>
                    <div class="btn btn-default text-center buttonList">____SCENE NAME____</div>
                    <div class="btn btn-default text-center buttonList">____CAMPAIGN____</div>
                    <div class="btn btn-default text-center buttonList">____CAMPAIGN____</div>
	        </div>
	        <div class=" col-md-3"></div>
		</div>
	 
	</div>
</body>