<body>
	<div class="container">
		<div class="row pushRow mediaPush">
			<div class="text-center"><h1>Preset Campaigns</h1></div>

			<div class="col-md-7 col-md-offset-3 text-center textContainer">
				<p>If you don't want to take up the daunting task of making your own adventure, you can always try our preset campaigns which are ready to be played at anytime! You just have to invite your friends and you'll be well on your way to a great adventure!</p>
				<br>
			</div>

		</div>


		<div class="row">

		    <div class=" col-md-3"></div>
		    <div ng-controller="campaignCtrl" class="col-md-6 text-center">
				<div ng-click="campaignTester" class="btn btn-default text-center buttonList">____SCENE NAME____</div>
                    <div class="btn btn-default text-center buttonList">____CAMPAIGN____</div>
                    <div class="btn btn-default text-center buttonList">____CAMPAIGN____</div>
                    <div class="btn btn-default text-center buttonList">____SCENE NAME____</div>
                    <div class="btn btn-default text-center buttonList">____CAMPAIGN____</div>
                    <div class="btn btn-default text-center buttonList">____CAMPAIGN____</div>
	        </div>
	        <div class=" col-md-3"></div>
		</div>
	 
	</div>
</body>