<body>
	<div class="container">

	  	<div class="row pushRow mediaPush">	  	

	  	<div class="text-center"><h1>Your Profile</h1></div>

	  	<div class="col-md-7 col-md-offset-3 text-center textContainer">
        	<p>This is your <b>Profile</b>, here you can keep track of your ongoing campaigns, past campaigns and all your characters. You can also add new friends and see who you already have on your friendlist. Lastly on this page you can also create your own characters that you're going to play in your different campaigns!</p>
        	<br>
        </div>

				<div class="col-md-6">
					<a href="/#!/campaign"><button type="button" class="btn btn-default btnPadding btnAdd">New Campaign</button></a>
					<a href="/#!/currentCampaigns"><button type="button" class="btn btn-default btnPadding btnAdd">Current Campaigns</button></a>
					<a href="/#!/pastCampaigns"><button type="button" class="btn btn-default btnPadding btnAdd">Past Campaigns</button></a>
					<a href="/#!/createcharacter"><button type="button" class="btn btn-default btnPadding btnAdd">Create Character</button></a>
					<a href="/#!/yourCharacters"><button type="button" class="btn btn-default btnPadding btnAdd">Your Characters</button></a>
				</div>

				<div class=" col-md-6">
					<img class="mediaHide" src="http://placehold.it/350x600">
				</div>
			
		</div>

	</div>
</body>

