
<div class="container">


  	<div class="row">
			<div class="col-md-2 col-md-offset-4">
				<a href="/#/campaign-1"><button type="button" class="btn btn-default btnPadding">New Campaign</button></a>
				<a href="/#/campaign-2"><button type="button" class="btn btn-default btnPadding">Current Campaigns</button></a>
				<a href="/#/campaign-3"><button type="button" class="btn btn-default btnPadding">Past Campaigns</button></a>
			</div>

			<div class=" col-xs-4">
				<img src="http://placehold.it/350x600">
			</div>
		
</div>


