<body>
	<div class="container">

	  	<div class="row pushRow mediaPush">

	  		<div class="text-center"><h1>Setup your campaign!</h1></div>

	  		<div class="col-md-7 col-md-offset-3 text-center textContainer">
				<p>This is the final step before starting your campaign, where you'll choose the order of the campaign's scenes, which characters should be in it and much more!</p>
				<br>
			</div>
			<br>


				<div class="col-md-6">
					<div ng-click="campaignTester" class="btn btn-default text-center buttonList">____TavernScene01____</div>
                    <div class="btn btn-default text-center buttonList">____DungeonScene04____</div>
                    <div class="btn btn-default text-center buttonList">____firstBattle01____</div>
                    <div class="btn btn-default text-center buttonList">____mysteriousWanderer____</div>
                    <div class="btn btn-default text-center buttonList">____BlacksmithJoe____</div>
                    <div class="btn btn-default text-center buttonList">____theSlums08____</div>
				</div>

				<div class=" col-md-6">
                    <div ng-click="campaignTester" class="btn btn-default text-center buttonList">____Fasthildi____</div>
                    <div class="btn btn-default text-center buttonList">____Rahferum____</div>
                    <div class="btn btn-default text-center buttonList">____Beorthgeor____</div>
                    <div class="btn btn-default text-center buttonList">____Nathferth____</div>
                    <div class="btn btn-default text-center buttonList">____Damas____</div>
                    <div class="btn btn-default text-center buttonList">____Edwise____</div>
				</div>


				<div class=" col-md-4"></div>
				<div class=" col-md-4">
					<div class="text-center btnPadding ">
						<a href="/#!/setupCampaign"><button class="btn btn-default btnAdd">Start campaign</button></a>
					</div>
				</div>
				<div class=" col-md-4"></div>


		</div>
			
		</div>

	</div>
</body>
