	<div class="container">
		<div class="row">
			<div ng-controller="mainCtrl">
				<div ng-repeat="campaign in campaigns"> 
				<div class="col-md-6">
					<h1 class="text-center"> Testeren </h1>
					<textarea ng-model="campaign.name" class="form-control" name="campaign" rows="6"></textarea>
					<button class="btn btn-default text-center btnPadding pull-right"> Save </button>
				</div>
				</div>	

				<div class="form-bottom">
	                <form action='/api/campaigns', method='POST'>
	                    <div class="form-group">
	                       <label class="sr-only" for="form-campaigns">Enter desired username</label>
	                       <input type="text" data-type="text" name="campaign"/>
	                   </div>
	                   
	                <div class="row">
	                   <input type="submit" value="Register"> 
	               </div>

	           </form>
		       </div>
			</div>
		</div>
	</div>

