		<div class="container">
			<div class="row">
				<div ng-controller="mainCtrl">

					<div class="form-bottom">
		                <form action='/api/campaigns', method='POST'>
		                    <div class="form-group">
		                       <input type="text" data-type="text" name="campaign" required/>

		                      

		                       	<textarea class="form-control" type="text" data-type="text" name="campaignTitle" rows="6" required></textarea>
		                   </div>
		                   
			                <div class="row">
			                   <input type="submit" value="Register"> 
			               	</div>

		           		</form>
			       </div>

			       <div ng-repeat="campaign in campaigns">
			       <button ng-if="campaign.campaign" ng-click="campaignGet(campaign._id)"> {{ campaign.campaign }} </button>
			       
			       </div>


					<textarea class="form-control" name="campaign" rows="6">{{campaign.campaignTitle}}</textarea>

					<div class="row">
			               <input ng-click="campaignDelete(campaign._id)"  type="submit" value="Delete"> 
			        </div>

			        <div class="row">
			               <input ng-click="saveCampaigns()"  type="submit" value="Update"> 
			        </div>


					 
			       	

				</div>
			</div>
		</div>

