<body>
	<div class="container">
		<div class="row">
			<div class="text-center"><h1>Your characters</h1></div>

			<div class="col-md-7 col-md-offset-3 text-center textContainer">
				<p>Here you'll be able to keep track of the different characters, you've made for your campaigns, their names, class, race and more!</p>
				<br>
			</div>

		</div>


		<div class="row">

		    <div class=" col-md-3"></div>
		    <div ng-controller="campaignCtrl" class="col-md-6 text-center">
				<div ng-click="campaignTester" class="btn btn-default text-center buttonList">____Fasthildi____</div>
                    <div class="btn btn-default text-center buttonList">____Rahferum____</div>
                    <div class="btn btn-default text-center buttonList">____Beorthgeor____</div>
                    <div class="btn btn-default text-center buttonList">____Nathferth____</div>
                    <div class="btn btn-default text-center buttonList">____Damas____</div>
                    <div class="btn btn-default text-center buttonList">____Edwise____</div>
	        </div>
	        <div class=" col-md-3"></div>
		</div>
	 
	</div>
</body>