<header>
    <nav class="navbar navbar-default" role="navigation center">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>



                <div class="collapse navbar-collapse navDesign" id="bs-example-navbar-collapse-1" >
                    <ul class="nav navbar-nav"> 
                        <li><a class="navbar-brand center" href="/#/frontpage">Home</a></li>
                        <li><a class="navbar-brand center" href="/#/profile">Profile</a></li>
                        <li><a class="navbar-brand center" href="">Campaign</a></li>
                        <li><a class="navbar-brand center" href="/#/login">Login</a></li>
                    </ul>

                </div> 
            </div>
        </div>
    </nav>
</header>